@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div class="presentacioncard row shadow-lg p-3 rounded-lg m-3">
    <div class="presentacionimg col-4"><img src="~/img/perfil.jpg" class="imgperfil" /></div>
    <div class="presentaciontext col-8">
    
        <hr class="hrdetalle" />
        lorm
    
    
    </div>
</div>


<div class="tecnologias row shadow-lg p-3 rounded-lg m-3">
    <div class="presentecnologias col-12">lorm</div>
</div>


<div id="proyectos"></div>
