@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="presentacioncard">
    <div class="presentacionimg"><img /></div>
    <div class="presentaciontext"></div>
</div>


<div id="tecnologias"></div>


<div id="proyectos"></div>
